.background-services {
   width: 100% !important;
   height: 100% !important;
   background-color: black;
}

.title-service {
   padding: 50px;
   margin: auto;
   width: 600px;
   color: white;
   font-weight: bold;
}

.service {
   margin: 50px 0 100px 0;
}

.img-service {
   margin: 0 50px;
   width: 20rem;
}

.desc-service {
   width: 330px;
   margin: 0 50px;
}

.title-desc-service {
   margin: 30px 0;
   font-weight: bold;
   color: white !important; 
}

.text-desc-service {
   margin: 30px 0;
   color: white;
   font-size: 1.3rem;
}