.the-button {
    margin-left: 5em;
}
.landing-section {
    display: flex;
    justify-content: center;
}
.explain-card-title {
    color: white;
}
.explain-cards {
    background-image: '../../assets/images/greenBack.svg';
}