.parceiros {
    width: 95%;
}

.parceiros-img {
    width: 20%;
    object-fit: contain;
    margin: 2em;
}

.parceiros-area {
    padding-top: 4em;
    padding-bottom: 4em;
}

.parceiros-text {
    color: #18201B;
    margin-bottom: 0;
    margin-left: 5%;
}

.parceiros-imgs {
    width: 75%;
}

#unb {
    width: 10%
}

#concentro {
    width: 15%;
}

/* @media (max-width: 1707px) {
    .parceiros-img {
        width: 15em;
    }

    #unb {
        width: 6em;
    }

    #concentro {
        width: 10em;
    }
} */

@media (max-width: 820px) {
    .parceiros {
        flex-wrap: wrap;
    }

    .parceiros-text{
        margin: auto;
    }

    .parceiros-imgs {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        margin-bottom: 5%;
    }
}