.benefits-section {
    text-align: center;
    padding: 1em;
    background-color: #18201b;
    color: #fefefe;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 0;
    padding-bottom: 0;
    border: 0;
}

.benefits-section + .benefits-end {
    width: 100%;
    height: 100%;
}

.benefits-section h2 {
    font-weight: bold;
}

.benefits-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}