.benefits-section {
    text-align: center;
    padding: 1em;
    background-color: #18201b;
    color: #fefefe;
    position: relative;
    box-sizing: border-box;
}

.benefits-section + .benefits-end {
    max-width: 100vw;
    background-image: url('../../assets/images/section_end_green.png');
    height: 208px; /* 200px é a altura da imagem*/
}

.benefits-section h2 {
    font-weight: bold;
}

.benefits-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}