.navbar-bg-color {
    background-color: #efefef;
    width: 100%;
}

.logo-navbar {
    width: 100%;
}

.resize-logo {
    width: 10%;
}

.navbar-toggler-icon {
    background-image: url('../../assets/images/hamburguer.svg');
    background-size: 80%;
}

.button-text {
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

li ~ li {
    margin-left: 30px;
}

.navbar {
    z-index: 9999
}

.diagnostic-btn{
    font-weight: bold; 
    font-size: 20px;  
    color: white !important;
    background-color: #7aaf50;
    border-color: transparent;
    border: 0;
    border-radius: 2.5px; 
}

.diagnostic-btn:active{
    background-color: #4e783a;
}