.footer-content{
    color: white
}

.footer-sub{
    margin-bottom: 2em;
}

.footer-background{
    background-color: #18201B;
}

.maps{
    width: 30em;
    height: 15em;
    margin-bottom: 1em;
}

#social-networks-footers{
    margin-right: 15em;
}

@media(max-width:600px){
    .maps{
        width: 20em;
    }
}

.contact-btn{
    font-weight: bold; 
    font-size: 20px;  
    color: white !important;
    background-color: #7aaf50;
    border-color: transparent;
    border: 0;
    border-radius: 2.5px; 
}

.contact-btn:active{
    background-color: #4e783a;
}

#footer-info{
    margin-right: 10em; 
}